@font-face {
    font-family: pokemon;
    src: url(../fonts/pokemon.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: pokemon, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

body {
    text-align: center;
    background-color: #d1ddfa;
}

.game-container {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin: 2% auto;
    width: 700px;
    height: auto;
    background-color: #fff9f9;
    border-radius: 10px;
    box-shadow: 5px 10px;
    padding: 50px 0px;
    color: #000;
}

.card {
    border: 2px solid #3e66c9;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 180px;
    border-radius: 10px;
}

#fix-flexbox {
    margin-right: 8%;
}

#round-card {
    display: flex;
    border: none;
    height: 30px;
}

.round-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3e66c9;
    font-size: x-large;
}

#round {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3e66c9;
    font-size: x-large;
    width: 50px;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3e66c9;
}

#player-points,
#computer-points {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3e66c9;
    width: 40px;
}

.card-info {
    border-left: 2px solid #3e66c9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    max-width: 40px;
    background-color: #3e66c9;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.btn-game {
    width: 100px;
    height: auto;
    opacity: 50%;
}

.btn-game:hover:enabled,
.btn-game:focus {
    width: 105px;
    height: auto;
    opacity: 100%;
}

.btn-game:disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
}

.btn-container {
    display: inline-block;
    width: 105px;
    height: 115px;
}

.btn-container p {
    display: inline-block;
    font-size: 8px;
    color: #3e66c9;
    width: 100px;
    height: 20px;
}

#new-game {
    width: 150px;
    height: 30px;
    background-color: #1cbb1c;
    border-color: #149c14;
    opacity: 80%;
}

#new-game:disabled {
    filter: grayscale(100%);
    opacity: 30%;
    cursor: not-allowed;
}

#new-game:hover:enabled {
    opacity: 100%;
    cursor: pointer;
}

#round-tracker {
    border: 2px dotted #3e66c9;
    height: auto;
    padding: 5px;
}

.title {
    align-self: flex-start;
    color: #3e66c9;
    font-size: small;
}

.log-messages {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: #3e66c9;
}

.pc-container {
    padding-top: 12%;
}

.pc-container p {
    display: inline-block;
    font-size: 8px;
    color: #3e66c9;
    height: 20px;
}

#pc-choice {
    width: 100px;
    height: auto;
}

#fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #3e66c9;
    text-align: center;
}

#fixed-footer p {
    font-size: 10px;
    color: #fff;
    margin: 8px;
}

#fixed-footer p a {
    text-decoration: none;
}